<template>
  <div id="app" class="dark">
    <div class="container col">
      <RIcon width="400" height="100" strokeColor="red" fillColor="blue" viewBox="0 0 500 100"><LogoIcon/></RIcon>
      <h1>Component show-off</h1>
        <h2>Buttons</h2>
        <section class="buttons">
          <RButton size="sm">AAAAAAA</RButton>
          <RButton>AAAAAAA</RButton>
          <RButton size="lg">AAAAAAA</RButton>
        </section>
        <h2>Input</h2>
        <section class="inputs col">
          <RInput password label="Password" v-model="inputValue"/>
          <span>{{inputValue}}</span>
        </section>
        <h2>Icons</h2>
        <section class="icons">
          <RIcon strokeColor="red" fillColor="blue" viewBox="0 0 23 23"><DriveIcon/></RIcon>
          <RIcon width="30" height="30" strokeColor="red" fillColor="blue" viewBox="0 0 23 23"><DriveIcon/></RIcon>
          <RIcon width="40" height="40" strokeColor="red" fillColor="blue" viewBox="0 0 23 23"><DriveIcon/></RIcon>
        </section>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { RButton, RInput, RIcon, DriveIcon, LogoIcon } from '@/entry';

export default Vue.extend({
  name: 'ServeDev',
  components: {
    RButton,
    RInput,
    RIcon,
    DriveIcon,
    LogoIcon,
  },
  data() {
    return {
      inputValue: '',
    }
  }
});
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
  width: 100%;
  background: var(--bgPrimary);

  color: var(--textPrimary);

  .container {
    padding: 20px;
    display: flex;
    align-items: stretch;
  }

  section {
    display: flex;
    justify-content: space-around;

    width: 100%;
  }

  .col {
    flex-direction: column;
  }
}
</style>