<template>
  <div :class="[type, 'badge']">
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'RBadge',
  props: {
    type: {
      type: String,
      default: 'primary',
    },
  },
})
</script>

<style lang="scss" scoped>
.badge {
  color: var(--textAlternate);
  font-size: 0.75rem;
  padding: 0 10px;
  border-radius: 4px;
  &.primary {
    background-color: var(--cta);
  }
  &.secondary {
    background-color: var(--btnSecondaryDefault);
    color: var(--cta);

    padding: 3px 5px;
  }
  &.grey {
    color: var(--textAlternate);
    background-color: var(--textSecondary);
  }
}
</style>
