<template>
  <button
    :type="buttonType"
    :class="[type, size, isDisabled && 'disabled']"
    :disabled="isDisabled"
    @click="$emit('click')"
    :aria-label="label"
  >
    <slot v-if="!spinning" />
    <span v-if="type == 'close'">×</span>
    <RLoader v-if="spinning" />
  </button>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import RLoader from './RLoader.vue'

type RButtonType = 'primary' | 'secondary' | 'link' | 'info' | 'close'
type ButtonType = 'button' | 'submit'
type ButtonSize = 'sm' | 'md' | 'lg'

export default Vue.extend({
  name: 'RButton',
  props: {
    type: {
      type: String as PropType<RButtonType>,
      default: 'primary',
    },
    spinning: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    submit: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String as PropType<ButtonSize>,
      default: 'md',
    },
  },
  components: {
    RLoader,
  },
  computed: {
    buttonType(): ButtonType {
      return this.submit === true ? 'submit' : 'button'
    },
    isDisabled(): boolean {
      return this.spinning || this.disabled
    },
    label(): string | null {
      return this.type === 'close' ? 'close' : null
    },
  },
})
</script>

<style lang="scss" scoped>
button {
  border-radius: 4px;
  opacity: 1;

  font-weight: 600;
  border: 0;

  transition: 0.2s;
  &.primary {
    background-color: var(--cta);
    color: white;
    &:hover:not(.disabled) {
      background-color: var(--btnPrimaryHover);
    }
    &:active:not(.disabled) {
      background-color: var(--btnPrimaryActive);
    }
  }
  &.secondary {
    background-color: var(--btnSecondaryDefault);
    color: var(--cta);
    &:hover:not(.disabled) {
      background-color: var(--btnSecondaryHover);
    }
    &:active:not(.disabled) {
      background-color: var(--btnSecondaryActive);
    }
  }
  &.link {
    background-color: transparent;
    color: var(--cta);
    &:hover {
      background-color: var(--bgSecondary);
    }
  }
  &.info {
    background-color: white;
    color: black;
  }
  &.disabled {
    color: #17181f;
    background-color: var(--cardBorder);
    cursor: unset;
  }
  &:hover:not(.disabled) {
    cursor: pointer;
  }

  &.close {
    background-color: transparent;
    color: var(--textPrimary);
    display: flex;
    align-items: center;
    &.md,
    &.lg {
      padding: 0;
    }
    &.sm {
      font-size: 18px;
    }
    &.md {
      font-size: 26px;
    }
    &.lg {
      font-size: 37px;
    }
  }

  &.sm {
    padding: 4px 21px;
    font-size: 14px;
  }
  &.md {
    padding: 8px 16px;
    font-size: 16px;
  }
  &.lg {
    padding: 12px 24px;
    font-size: 20px;
  }
}
</style>
