<template>
  <fieldset :disabled="disabled" :class="[fullWidth && 'full-width']">
    <legend v-if="legend">{{ legend }}</legend>
    <div class="above">
      <router-link to="/password-reset" v-if="forgetful">Forgot password?</router-link>
    </div>
    <!-- No help for this repetition: no way to use dynamic component (with :is)
         to render native elements with v-model
         https://github.com/vuejs/vue/issues/4763#issuecomment-274345379 -->
    <textarea
      v-if="textarea"
      :id="identifier"
      :name="identifier"
      :value="value"
      @input="$emit('input', $event.target.value)"
      @blur="$emit('blur')"
      v-bind="$attrs"
      class="input"
      ref="input"
      :maxlength="maxlength"
    />
    <input
      v-else
      :id="identifier"
      :type="type"
      :name="identifier"
      :value="value"
      @input="$emit('input', $event.target.value)"
      @blur="$emit('blur')"
      v-bind="$attrs"
      class="input"
      ref="input"
      :maxlength="maxlength"
    />
    <label :for="identifier" :class="[this.value && 'up']" :style="extraLabelStyle"
      >{{ label }} <span v-if="required" class="req-asterisk">*</span></label
    >
    <div class="char-count" v-if="showCharCount">
      {{ charCount }}
    </div>
    <label for="password-visibility" v-if="password">
      <input
        type="checkbox"
        id="password-visibility"
        v-model="visible"
        aria-label="password visibility"
      />
      <!-- must be a v-show, otherwise the component gets reused. SEE: RIcon -->
      <RIcon stroke-width="1.5" strokeColor="var(--textSecondary)" width="24" height="24" fillColor="transparent" viewBox="0 0 24 23">
        <EyeCrossedIcon v-if="!visible" />
        <EyeIcon v-else />
      </RIcon>
    </label>
  </fieldset>
</template>

<script lang="ts">
import Vue from 'vue'
import RIcon from './RIcon/BaseIcon.vue'
import EyeIcon from './RIcon/Eye.vue'
import EyeCrossedIcon from './RIcon/EyeCrossed.vue'

export default Vue.extend({
  name: 'RInput',
  components: {
    RIcon,
    EyeIcon,
    EyeCrossedIcon,
  },
  data() {
    return {
      visible: false,
    }
  },
  props: {
    legend: {
      type: String,
    },
    label: {
      type: String,
    },
    disabled: {
      type: Boolean,
    },
    email: {
      type: Boolean,
    },
    password: {
      type: Boolean,
    },
    value: {
      type: String,
    },
    id: {
      type: String,
    },
    fullWidth: {
      type: Boolean,
    },
    forgetful: {
      type: Boolean,
    },
    required: {
      type: Boolean,
      default: false,
    },
    labelBackground: {
      type: String,
    },
    autofocus: {
      type: Boolean,
    },
    textarea: {
      type: Boolean,
      default: false,
    },
    maxlength: {
      type: [Number, String],
    },
    showCharCount: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    if (!this.disabled && this.autofocus) this.focus()
  },
  methods: {
    focus(): void {
      ;(this.$refs.input as HTMLInputElement).focus()
    },
  },
  computed: {
    identifier(): string {
      return `${(this.label || this.type || '').replace(' ', '-').toLowerCase()}-input`
    },
    type(): string {
      return this.password && !this.visible ? 'password' : this.email ? 'email' : 'text'
    },
    extraLabelStyle(): string {
      if (this.labelBackground) {
        return `background: ${this.labelBackground}`
      }
      return ''
    },
    component(): string {
      return this.textarea ? 'textarea' : 'input'
    },
    charCount(): string {
      return `${this.value.length}${this.maxlength ? ' / ' + this.maxlength : ''}`
    },
  },
  watch: {
    disabled(val) {
      if (!val && this.autofocus) {
        // nextTick is needed here, because we cannot focus on
        // a disabled element - HTML must rerender first.
        this.$nextTick(() => {
          this.focus()
        })
      }
    },
  },
})
</script>

<style scoped lang="scss">
/* Autofill fields need to have background and text colors corrected */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--textPrimary) !important;
  transition-delay: 9999s;
  transition: background-color 5000s ease-in-out 0s;
}

textarea:focus,
input:focus {
  outline: none !important;
  border: 1px solid var(--textSecondary);
}

::placeholder {
  color: #acadb0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 20px 0 0;
  position: relative;
  &.no-margins {
    margin-top: 0;
  }
  input.input,
  textarea.input {
    padding-left: 13px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 22px;
    border: 1px solid var(--rinputBorder);
    border-radius: 4px;
    width: 100%;
    border: 0;
    background-color: transparent;
    color: var(--textPrimary);

    border: 1.3px solid var(--rinputBorder);
    caret-color: var(--cta);
    resize: none;
    &:focus {
      border: 1.3px solid var(--cta);
    }
  }

  input.input {
    height: 44px;
  }

  textarea.input {
    padding: 10px 13px 0;
  }

  input[type='password'].input {
    padding-right: 40px;
  }

  label {
    position: absolute;
    left: 4px;
    top: 10px;
    padding: 0 4px;
    background: inherit;
    color: var(--textSecondary);
    border-radius: 6px;
    transition: 0.2s;
    .req-asterisk {
      color: $errorRed;
    }
  }
  .input:not(:focus) + label,
  label.up {
    color: var(--textSecondary);
  }
  .input:focus + label,
  label.up {
    font-size: 12px;
    color: var(--cta);
    background: var(--bgPrimary);

    top: -8px;
    left: 4px;

  }
  .above {
    position: absolute;
    top: -18px;
    width: 100%;

    font-size: 0.8em;
    color: var(--textSecondary);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      font-size: inherit;
      text-decoration: none;
    }
  }

  &.full-width {
    width: 100%;
  }

  label[for='password-visibility'] {
    position: absolute;
    right: 10px;
    top: 10px;
    left: unset;
    cursor: pointer;
    width: 30px;
    input[type='checkbox'] {
      opacity: 0;
      width: 1px;
      height: 1px;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &[disabled='disabled'] {
    input,
    label {
      background-color: var(--bgSecondary);
      color: var(--textSecondary);
    }
    input {
      border: 1.3px solid var(--bgSecondary);
    }
  }
  .char-count {
    float: right;
    color: var(--textSecondary);
  }
}
</style>
