<template>
  <div class="loader" />
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'Loader',
})
</script>

<style scoped>
.loader {
  display: inline-block;
  border: 4px solid #666;
  border-radius: 50%;
  border-top: 4px solid #999;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
