<template>
  <label class="toggle" :class="getClass">
    <input type="checkbox" :checked="checked" :disabled="disabled" />
    <span class="toggler round"></span>
    <div class="content" v-if="elaborate">
      <span v-if="!disabled && !spinning">{{ text }}</span>
      <svg width="26" height="26" viewBox="0 0 23 23" fill="none" v-if="spinning">
        <path
          d="M9.18923 19.6892C4.66643 18.4315 2.01956 13.7454 3.27729 9.22264C4.53501 4.69984 9.22106 2.05297 13.7439 3.3107C18.2667 4.56842 20.9135 9.25447 19.6558 13.7773"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </label>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'RToggle',
  props: {
    checked: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    elaborate: {
      type: Boolean,
      default: false,
    },
    spinning: {
      type: Boolean,
      default: false,
    },
    preparing: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    text(): string {
      return this.checked ? 'Turn Off' : 'Turn On'
    },
    getClass(): String[] {
      return [
        this.disabled ? 'disabled' : '',
        this.elaborate ? 'elaborate' : '',
        this.preparing ? 'preparing' : '',
      ]
    },
  },
})
</script>

<style lang="scss" scoped>
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    margin: 1px;
    // unfortunately, FF does not allow
    // setting checkbox dimensions to 0px
    width: 13.33333px;
    height: 13.33333px;
  }
  .toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bgToggleOff);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background: #fff;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      z-index: 1;
      filter: drop-shadow(0px 2px 4px rgba(0, 35, 11, 0.2));
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
  input:checked + .toggler {
    background: var(--bgToggleOn);
  }
  input:focus + .toggler {
    box-shadow: 0 0 2px var(--bgToggleOn);
  }
  input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  &.disabled {
    .toggler {
      cursor: unset;
    }
    input + .toggler {
      background: var(--bgToggleDisabled);
    }
  }

  &.elaborate {
    width: 98px;
    .content {
      position: relative;
      display: inline-flex;
      font-size: 12px;
      font-weight: 600;
      color: var(--bgToggleElaborate);
      top: 4px;
      left: 19px;
      cursor: pointer;
      min-width: 50px;
      justify-content: center;
      svg {
        position: relative;
        animation: spin 2s infinite linear;
        stroke: var(--bgToggleElaborate);
      }
    }
    input {
      &:focus + .toggler {
        box-shadow: 0 0 2px var(--bgToggleOff);
      }
      &:checked {
        & + .toggler,
        &:disabled + .toggler {
          background: var(--bgToggleElaborate);
          & + .content {
            color: var(--bgToggleOff);
            left: -7px;
            svg {
              stroke: var(--bgToggleOff);
            }
          }
        }
        & + .toggler:before {
          -webkit-transform: translateX(64px);
          -ms-transform: translateX(64px);
          transform: translateX(64px);
        }
        &:focus + .toggler {
          box-shadow: 0 0 2px var(--bgToggleElaborate);
        }
      }
      &:disabled {
        & + .toggler {
          background: var(--bgToggleOff);
          & + .content {
            cursor: unset;
          }
        }
      }
    }
    &.preparing .toggler:before {
      background: var(--cardBorder);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
