<template>
  <g>
    <rect
      x="1"
      y="1"
      width="33"
      height="22"
      rx="3"
      stroke="#E2E2E3"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path d="M1.42853 9.10352H33.5714" stroke="#E2E2E3" stroke-width="2" stroke-linejoin="round" />
    <path
      d="M7.36115 16.5H11.1111"
      stroke="#E2E2E3"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>
