<template>
  <g>
    <path d="M18 6L6 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M6 6L18 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
  </g>
</template>
