<template>
  <g>
    <path d="M10 3H3V10H10V3Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M21 3H14V10H21V3Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M21 14H14V21H21V14Z"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M10 14H3V21H10V14Z"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>
