<template>
  <g>
    <path
      d="M9.6 12.4667C9.6 12.8 9.33333 13.0667 9 13.0667C8.66667 13.0667 8.4 12.8 8.4 12.4667C8.4 12.1333 8.66667 11.8667 9 11.8667C9.33333 11.8667 9.6 12.1333 9.6 12.4667ZM17 9C17 13.4 13.4 17 9 17C4.6 17 1 13.4 1 9C1 4.6 4.6 1 9 1C13.4 1 17 4.6 17 9ZM16.3333 9C16.3333 4.93333 13.0667 1.66667 9 1.66667C4.93333 1.66667 1.66667 4.93333 1.66667 9C1.66667 13.0667 4.93333 16.3333 9 16.3333C13.0667 16.3333 16.3333 13.0667 16.3333 9ZM9.4 4.93333H8.6V10.5333H9.4V4.93333Z"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M9 1.25C4.73807 1.25 1.25 4.73807 1.25 9C1.25 13.2619 4.73807 16.75 9 16.75C13.2619 16.75 16.75 13.2619 16.75 9C16.75 4.73807 13.2619 1.25 9 1.25ZM0.75 9C0.75 4.46193 4.46193 0.75 9 0.75C13.5381 0.75 17.25 4.46193 17.25 9C17.25 13.5381 13.5381 17.25 9 17.25C4.46193 17.25 0.75 13.5381 0.75 9ZM1.41667 9C1.41667 4.79526 4.79526 1.41667 9 1.41667C13.2047 1.41667 16.5833 4.79526 16.5833 9C16.5833 13.2047 13.2047 16.5833 9 16.5833C4.79526 16.5833 1.41667 13.2047 1.41667 9ZM9 1.91667C5.0714 1.91667 1.91667 5.0714 1.91667 9C1.91667 12.9286 5.0714 16.0833 9 16.0833C12.9286 16.0833 16.0833 12.9286 16.0833 9C16.0833 5.0714 12.9286 1.91667 9 1.91667ZM8.35 4.68333H9.65V10.7833H8.35V4.68333ZM8.85 5.18333V10.2833H9.15V5.18333H8.85ZM9 12.1167C8.80474 12.1167 8.65 12.2714 8.65 12.4667C8.65 12.6619 8.80474 12.8167 9 12.8167C9.19526 12.8167 9.35 12.6619 9.35 12.4667C9.35 12.2714 9.19526 12.1167 9 12.1167ZM8.15 12.4667C8.15 11.9953 8.52859 11.6167 9 11.6167C9.47141 11.6167 9.85 11.9953 9.85 12.4667C9.85 12.9381 9.47141 13.3167 9 13.3167C8.5286 13.3167 8.15 12.9381 8.15 12.4667Z"
    />
  </g>
</template>
