<template>
  <g>
    <path
      d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
      stroke="#BFBFBF"
      stroke-linecap="round"
      stroke-linejoin="round" />
    <path
      d="M12.9337 10C12.8449 10.2011 12.8184 10.4241 12.8577 10.6404C12.8969 10.8567 13 11.0562 13.1537 11.2134L13.1937 11.2534C13.3176 11.3772 13.416 11.5242 13.4831 11.6861C13.5502 11.848 13.5847 12.0215 13.5847 12.1967C13.5847 12.3719 13.5502 12.5454 13.4831 12.7073C13.416 12.8691 13.3176 13.0162 13.1937 13.14C13.0698 13.264 12.9228 13.3623 12.7609 13.4294C12.599 13.4965 12.4255 13.5311 12.2503 13.5311C12.0751 13.5311 11.9016 13.4965 11.7397 13.4294C11.5779 13.3623 11.4308 13.264 11.307 13.14L11.267 13.1C11.1099 12.9463 10.9103 12.8432 10.6941 12.804C10.4778 12.7648 10.2547 12.7913 10.0537 12.88C9.85648 12.9645 9.68831 13.1048 9.56986 13.2837C9.45141 13.4626 9.38785 13.6722 9.38699 13.8867V14C9.38699 14.3536 9.24652 14.6928 8.99647 14.9428C8.74642 15.1929 8.40728 15.3334 8.05366 15.3334C7.70004 15.3334 7.3609 15.1929 7.11085 14.9428C6.8608 14.6928 6.72033 14.3536 6.72033 14V13.94C6.71516 13.7194 6.64374 13.5053 6.51533 13.3258C6.38693 13.1463 6.20748 13.0095 6.00033 12.9334C5.79925 12.8446 5.5762 12.8181 5.35993 12.8573C5.14367 12.8966 4.94411 12.9997 4.78699 13.1534L4.74699 13.1934C4.62316 13.3173 4.47611 13.4157 4.31425 13.4828C4.15238 13.5499 3.97888 13.5844 3.80366 13.5844C3.62844 13.5844 3.45494 13.5499 3.29307 13.4828C3.13121 13.4157 2.98416 13.3173 2.86033 13.1934C2.73636 13.0695 2.63801 12.9225 2.57091 12.7606C2.50381 12.5987 2.46928 12.4252 2.46928 12.25C2.46928 12.0748 2.50381 11.9013 2.57091 11.7394C2.63801 11.5776 2.73636 11.4305 2.86033 11.3067L2.90033 11.2667C3.05402 11.1096 3.15712 10.91 3.19633 10.6937C3.23554 10.4775 3.20907 10.2544 3.12033 10.0534C3.03582 9.85617 2.8955 9.68801 2.71664 9.56956C2.53778 9.45111 2.32818 9.38754 2.11366 9.38669H2.00033C1.6467 9.38669 1.30756 9.24621 1.05752 8.99616C0.807468 8.74611 0.666992 8.40698 0.666992 8.05335C0.666992 7.69973 0.807468 7.36059 1.05752 7.11054C1.30756 6.8605 1.6467 6.72002 2.00033 6.72002H2.06033C2.28099 6.71486 2.495 6.64343 2.67452 6.51503C2.85405 6.38662 2.9908 6.20718 3.06699 6.00002C3.15574 5.79894 3.18221 5.57589 3.143 5.35963C3.10378 5.14336 3.00068 4.94381 2.84699 4.78669L2.80699 4.74669C2.68302 4.62286 2.58468 4.4758 2.51758 4.31394C2.45048 4.15208 2.41594 3.97857 2.41594 3.80335C2.41594 3.62813 2.45048 3.45463 2.51758 3.29277C2.58468 3.1309 2.68302 2.98385 2.80699 2.86002C2.93082 2.73605 3.07787 2.63771 3.23974 2.57061C3.4016 2.50351 3.5751 2.46897 3.75033 2.46897C3.92555 2.46897 4.09905 2.50351 4.26091 2.57061C4.42278 2.63771 4.56983 2.73605 4.69366 2.86002L4.73366 2.90002C4.89078 3.05371 5.09034 3.15681 5.3066 3.19602C5.52286 3.23524 5.74591 3.20876 5.94699 3.12002H6.00033C6.1975 3.03551 6.36567 2.89519 6.48412 2.71633C6.60257 2.53747 6.66614 2.32788 6.66699 2.11335V2.00002C6.66699 1.6464 6.80747 1.30726 7.05752 1.05721C7.30756 0.807163 7.6467 0.666687 8.00033 0.666687C8.35395 0.666687 8.69309 0.807163 8.94313 1.05721C9.19318 1.30726 9.33366 1.6464 9.33366 2.00002V2.06002C9.33451 2.27454 9.39808 2.48414 9.51653 2.663C9.63498 2.84186 9.80315 2.98218 10.0003 3.06669C10.2014 3.15543 10.4245 3.1819 10.6407 3.14269C10.857 3.10348 11.0565 3.00038 11.2137 2.84669L11.2537 2.80669C11.3775 2.68272 11.5245 2.58437 11.6864 2.51727C11.8483 2.45017 12.0218 2.41564 12.197 2.41564C12.3722 2.41564 12.5457 2.45017 12.7076 2.51727C12.8694 2.58437 13.0165 2.68272 13.1403 2.80669C13.2643 2.93052 13.3626 3.07757 13.4297 3.23943C13.4968 3.4013 13.5314 3.5748 13.5314 3.75002C13.5314 3.92524 13.4968 4.09874 13.4297 4.26061C13.3626 4.42247 13.2643 4.56952 13.1403 4.69335L13.1003 4.73335C12.9466 4.89047 12.8435 5.09003 12.8043 5.30629C12.7651 5.52256 12.7916 5.74561 12.8803 5.94669V6.00002C12.9648 6.1972 13.1052 6.36536 13.284 6.48382C13.4629 6.60227 13.6725 6.66583 13.887 6.66669H14.0003C14.3539 6.66669 14.6931 6.80716 14.9431 7.05721C15.1932 7.30726 15.3337 7.6464 15.3337 8.00002C15.3337 8.35364 15.1932 8.69278 14.9431 8.94283C14.6931 9.19288 14.3539 9.33335 14.0003 9.33335H13.9403C13.7258 9.33421 13.5162 9.39777 13.3373 9.51622C13.1585 9.63468 13.0182 9.80284 12.9337 10V10Z"
      stroke="#BFBFBF"
      stroke-linecap="round"
      stroke-linejoin="round"
  /></g>
</template>
