<template>
  <g>
    <g id="Asset-Artboard-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="icon-other/google" fill-rule="nonzero">
        <g id="search">
          <path
            d="M4.43242192,12.08625 L3.73625004,14.6851564 L1.19175783,14.7389845 C0.43132813,13.3285548 0,11.7148438 0,9.99999997 C0,8.34175773 0.403281254,6.77800767 1.11812501,5.40109356 L1.11867189,5.40109356 L3.38398441,5.81640608 L4.37632817,8.0681249 C4.16863286,8.67363274 4.05542973,9.32363276 4.05542973,9.99999997 C4.05550786,10.7340625 4.18847661,11.4373828 4.43242192,12.08625 Z"
            id="Path"
            fill="#FBBB00"
          ></path>
          <path
            d="M19.8252734,8.1318752 C19.9401172,8.73679706 20,9.36152361 20,10.0000002 C20,10.7159376 19.9247266,11.414297 19.7813281,12.0879298 C19.2945312,14.3802345 18.022539,16.381875 16.2604686,17.7983594 L16.2599217,17.7978125 L13.4066404,17.6522266 L13.0028122,15.1313282 C14.172031,14.4456251 15.0857811,13.3725392 15.5671092,12.0879298 L10.2198434,12.0879298 L10.2198434,8.1318752 L15.645117,8.1318752 L19.8252734,8.1318752 L19.8252734,8.1318752 Z"
            id="Path"
            fill="#518EF8"
          ></path>
          <path
            d="M16.2598834,17.7978125 L16.2604303,17.7983593 C14.5467193,19.1758203 12.3697661,20 10.0000004,20 C6.19175782,20 2.88078133,17.8714453 1.19175782,14.7390233 L4.43242201,12.0862889 C5.27691424,14.3401171 7.45109401,15.9445312 10.0000004,15.9445312 C11.0955864,15.9445312 12.1219926,15.6483593 13.0027349,15.131328 L16.2598834,17.7978125 Z"
            id="Path"
            fill="#28B446"
          ></path>
          <path
            d="M16.3829683,2.30218757 L13.1433981,4.95437515 C12.2318747,4.38460951 11.1543747,4.05546887 9.99999976,4.05546887 C7.39339828,4.05546887 5.17855459,5.73347674 4.37636711,8.06812525 L1.1186719,5.40109392 L1.11812502,5.40109392 C2.78242185,2.19230475 6.13515613,0 9.99999976,0 C12.4263669,0 14.6510934,0.864296902 16.3829683,2.30218757 Z"
            id="Path"
            fill="#F14336"
          ></path>
        </g>
      </g>
    </g>
  </g>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'GoogleIcon',
  props: {
    size: { type: Number, default: 20 },
  },
})
</script>
