<template>
  <g>
    <path
      d="M8.00016 14.6666C11.6821 14.6666 14.6668 11.6818 14.6668 7.99992C14.6668 4.31802 11.6821 1.33325 8.00016 1.33325C4.31826 1.33325 1.3335 4.31802 1.3335 7.99992C1.3335 11.6818 4.31826 14.6666 8.00016 14.6666Z"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path d="M8 10.6667V8" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M8 5.33325H8.00667" stroke-linecap="round" stroke-linejoin="round" />
  </g>
</template>
