<template>
  <g>
    <path
      d="M9 1C4.6 1 1 4.6 1 9C1 13.4 4.6 17 9 17C13.4 17 17 13.4 17 9C17 4.6 13.4 1 9 1ZM9 16.3333C4.93333 16.3333 1.66667 13.0667 1.66667 9C1.66667 4.93333 4.93333 1.66667 9 1.66667C13.0667 1.66667 16.3333 4.93333 16.3333 9C16.3333 13.0667 13.0667 16.3333 9 16.3333Z"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0.75 9C0.75 4.46193 4.46193 0.75 9 0.75C13.5381 0.75 17.25 4.46193 17.25 9C17.25 13.5381 13.5381 17.25 9 17.25C4.46193 17.25 0.75 13.5381 0.75 9ZM9 1.25C4.73807 1.25 1.25 4.73807 1.25 9C1.25 13.2619 4.73807 16.75 9 16.75C13.2619 16.75 16.75 13.2619 16.75 9C16.75 4.73807 13.2619 1.25 9 1.25ZM9 1.91667C5.0714 1.91667 1.91667 5.0714 1.91667 9C1.91667 12.9286 5.0714 16.0833 9 16.0833C12.9286 16.0833 16.0833 12.9286 16.0833 9C16.0833 5.0714 12.9286 1.91667 9 1.91667ZM1.41667 9C1.41667 4.79526 4.79526 1.41667 9 1.41667C13.2047 1.41667 16.5833 4.79526 16.5833 9C16.5833 13.2047 13.2047 16.5833 9 16.5833C4.79526 16.5833 1.41667 13.2047 1.41667 9Z"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M13.3772 6.82821L8.25163 12.7188L4.65884 9.36553L5.34116 8.63447L8.17695 11.2812L12.6228 6.17179L13.3772 6.82821Z"
    />
  </g>
</template>
