:root {
  --darkColor: #424b5a;
  --successColor: #1bb7aa;

  --bgPrimary: #ffffff;
  --bgSecondary: #f4f7fa;
  --bgTertiary: #232323;

  --bgCard: #ffffff;
  --bgCardActive: #ffffff;

  --bgContextMenu: #fff0c8;
  --bgContextMenuHover: #fff0c8;

  --textPrimary: #000000;
  --textSecondary: #9c9c9c;
  --textAlternate: #ffffff;

  --cta: #525df4;

  --bgStep: #bfc0c0;
}

.dark {
  --bgPrimary: #101118;
  --bgSecondary: #1c1d24;
  --bgTertiary: #23242a;

  --bgCard: #2a2b31;
  --bgCardActive: #202127;
  --cardBorder: #36373e;
  --rinputBorder: #414247;

  --bgContextMenu: #34343a;
  --bgContextMenuHover: #3e3e44;

  --textPrimary: #e2e2e3;
  --textSecondary: #9c9c9c;
  --textAlternate: #000000;

  --bgToggleOff: #17181f;
  --bgToggleOn: #8e8aff;
  --bgToggleDisabled: #77797e;
  --bgToggleElaborate: #2dc26b;
  --btnPrimaryHover: #736afc;
  --btnPrimaryActive: #624cee;

  --btnSecondaryDefault: #3a3b48;
  --btnSecondaryHover: #343542;
  --btnSecondaryActive: #30313e;

  --linkDisabled: #494d57;

  --cta: #8b88fe;

  --bgStep: #25262d;
}

$primary: #525df4;
$secondary: #dfe1fd;

$lightGreen: rgba(0, 167, 148, 0.1);
$cyan: #00a794;

$lightGray: #f4f7fa;
$darkGray: #9c9c9c;

$successGreen: #27ae60;
$errorRed: #fc3333;
$infoBlue: #4b8fe2;
